<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.demo.generator.dao.DetailedDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.team.demo.generator.entity.DetailedData">
        <id column="code" property="code" />
        <result column="name" property="name" />
        <result column="size" property="size" />
        <result column="locate" property="locate" />
        <result column="protectObject" property="protectObject" />
        <result column="type" property="type" />
        <result column="level" property="level" />
        <result column="settime" property="settime" />
        <result column="department" property="department" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code, name, size, locate, protectObject, type, level, settime, department
    </sql>

    <!--<update id="updateBalanceByIds">
        UPDATE user SET distance = distance - #{meter} ${ew.customSqlSegment}
    </update>-->



    <!--<select id="selectImagesWithinRadius" parameterType="java.lang.Double" resultType="com.team.demo.generator.entity.Image">
        SELECT *
        FROM image
        WHERE (
        6371 * acos(
        cos(radians(#{latitude})) *
        cos(radians(latitude)) *
        cos(radians(longitude) - radians(#{longitude})) +
        sin(radians(#{latitude})) *
        sin(radians(latitude))
        )
        ) <= #{radius}
    </select>-->

    <select id="addLocate" parameterType="com.team.demo.generator.entity.DetailedData" resultType="com.team.demo.generator.entity.Location">
        SELECT * FROM reservedata where code = #{code}
    </select>

    <select id="findAll" resultType="com.team.demo.generator.entity.DetailedData">
        SELECT * FROM detaileddata
    </select>

    <insert id="insertLocation" parameterType="java.util.Map">
        INSERT INTO `reserveData` (`code`, `longitude`, `latitude`)
        VALUES (#{code}, #{longitude}, #{latitude})
    </insert>

    <select id="findBycode" parameterType="java.lang.String" resultType="com.team.demo.generator.entity.DetailedData">
        SELECT * from detaileddata where code = #{code}
    </select>

    <delete id="deleteBycode"  parameterType="java.lang.String">
        delete from reserveData where code = #{code}
    </delete>


</mapper>